body{
    font-family: sans-serif;
    background: #f2f2f2;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;

}

#search-container{
    text-align: center;
    margin-top: 100px;
    max-width: 400px;
}
#search-input{
    padding: 10px;
    font-size: 16px;
    width: 300px;
    border-radius: 5px;
}
#item-list{
    list-style: none;
    padding: 0;
    width: 100%;
    max-width: 400px;


}
.item{
    margin: 10px 0;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}
.item:hover{
    transform: scale(1.05);
}
.item:nth-child(even){
    background: linear-gradient(45deg, #4e32a8, #9a65f5);
    color: white;
}
.item:nth-child(odd){
    background: linear-gradient(45deg, #ff6a00, #f33f00);
    color: white;
}