*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: sans-serif;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 80vh;
    background: linear-gradient(45deg, #ff9a9a 40%, #fad0c4 89%, #fad0c4 100%);
}
.header{
    flex: 1;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
h3{
    text-transform: uppercase;
}
.wrapper{
    padding: 70px 20px;
    background: rgba(129, 89, 35, 0.9);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.wrapper .counters{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 30px;
    text-align: center;
    max-width: 1100px;
    margin: 0 auto;
    overflow: auto;
}
.wrapper .counters .counter{
    font-size: 45px;
    margin: 10px 0;
    animation: counterAnimation 1.5s ease-out;
}
@keyframes counterAnimation {
    0%{
        transform:  translate(20px);
        opacity: 0;
    }
    100%{
        transform: translate(0);
        opacity: 0;
    }
}